.container {
  padding-left: 20px;
}

h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 24px;
}

.main {
  display: flex;
  justify-content: space-between;
}

app-widget-chart {
  width: 380px;
}