<div class="portfolio-goals-container">
  <h1 class="portfolio-goals-title">Portfolio goals</h1>

  <div class="goals-list">
    @for (goal of allPortfolioGoals$ | async; track goal.id) {
      <div class="goal-item">
        <div class="goal-header">
          <div class="goal-type">{{ goal.type }}</div>
        </div>

        @if (shouldShowCurrency(goal.type)) {
          <div class="target-wrapper">
            <div class="target-progress-container">
              <div class="target-progress-bar">
                <div
                  class="target-progress-fill"
                  [style.width.%]="goal.percentage">
                  <div class="current-value">${{ goal.current }}M</div>
                </div>
                <div class="target-value">${{ goal.additionalInfo!.replace('$', '') }}</div>
              </div>
              <div class="target-percentage">{{ goal.percentage }}%</div>
            </div>
          </div>
        } @else if (goal.type === 'PORTFOLIO LOSS RATIO TARGET') {
          <div class="progress-container">
            <div class="progress-bar portfolio-loss-gradient">
              <div class="target-indicator-container">
                <div class="goal-target">TG:{{ goal.target }}%</div>
                <div
                  class="target-indicator down"
                  [style.left]="goal.target + '%'"
                ></div>
              </div>

              <div class="current-value">{{ goal.current }}%</div>
            </div>
            <div class="loss-ratio-status-bar" [style.left]="portfolioLossRatioTargetPercentStatus + '%'">
              <div class="target-indicator up"></div>
              <div class="status-text" [ngClass]="getStatusColor(goal)">{{ goal.additionalInfo }}</div>
            </div>
          </div>
        } @else {
          <div class="progress-container">
            <div class="progress-bar renewal-retention-gradient">
              <div class="current-value">{{ goal.current }}%</div>
            </div>
            <div class="renewal-retention-status-bar" [style.left]="'40%'">
              <div class="target-indicator up" [style.left]="goal.target + '%'"></div>
              <div class="status-text" [ngClass]="getStatusColor(goal)">{{ goal.additionalInfo }}</div>
            </div>
          </div>
        }
      </div>
    } @empty {
      <div class="no-goals-message">No portfolio goals available</div>
    }
  </div>
</div>