<div class="container">
  <app-header-accounts></app-header-accounts>
  <div class="top">
    <app-info-accounts></app-info-accounts>
    <app-needs-attention></app-needs-attention>
  </div>
    <app-performance-metrics></app-performance-metrics>
    <app-policies-component></app-policies-component>
    <div class="section-middle">
      <app-account-status></app-account-status>
      <app-compliance-docs></app-compliance-docs>
    </div>
    <app-account-details></app-account-details>
    <app-communication></app-communication>
    <app-policies-main></app-policies-main>
</div>